@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
    --main-color: black;
    --accent-color: white;
   font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

  
body {
    max-width: 1200px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6, header, main, footer, nav, p {
    margin: 0;
    padding: 0;
}


.top-header .top-menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    flex: 1;
}


.big {
    font-family:'Montserrat', sans-serif; 
    font-size: 5rem;
    text-align: center;
}


.top-header .top-menu li {
    list-style-type: none;
}
.top-header .top-menu li a {
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid white;
    padding: 2px;
    color: var(--main-color);
}

.top-header .home li a:hover {
    border: 1px solid var(--accent-color);
}

@media (min-width: 600px) {
    .top-header nav {
        display: flex;
        align-items: center;
    }
}

 .home {
    background-image: url(../img/nature.jpg);
    background-position: center;
    background-size: cover;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 600px) {
     .home {
        min-height: 500px;
    }
}

 .home h1 {
    color: var(--accent-color);
     font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}